$black: #000;
$darkGray: #111111;
$slateGray: #292929;
$deepSea: #384750;
$lightGray: #EBE9E9;
$electricBlue: #0073E6;
$coralRed: #C35050;
$white: #FFFFFF;

$sm: 400px;
$md: 768px;
$lg: 1024px;
$xlg: 1440px;

.button {
  display: flex;
  width: 100%;
  min-height: 80px;
  border-radius: 20px;
  background-color: $darkGray;
  color: $white;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 11px 20px;
  border: none;
  box-shadow:
    1px 1px 4px 0px rgba(0, 0, 0, 0.50),
    -4px 4px 4px 0px rgba(0, 0, 0, 0.25);

  &:hover {
    cursor: pointer;
    box-shadow:
      1px 1px 6px 0px rgba(0, 0, 0, 0.75),
      -4px 4px 6px 0px rgba(0, 0, 0, 0.50);
  }
}

@keyframes loadingAnimationVertical {
  from {
    height: 0px;
  }
  to {
    height: var(--line-height);
  }
}

@keyframes loadingAnimationHorizontal {
  from {
    width: 0px;
  }
  to {
    width: var(--line-width);
  }
}

.lines {
  display: flex;
  position: absolute;
  right: 7%;
  margin-top: -80px;
  gap: 5px;
  z-index: 0;

  @media screen and (min-width: $xlg) {
    right: calc((100vw - 1440px) / 2 + 100px);
  }

  @media screen and (max-width: $md) {
    margin-top: -20px;
  }

  .line {
    width: 5px;
    --line-height: 400px;
    background-color: $darkGray;
    animation: loadingAnimationVertical 1s ease-in-out forwards;
  }

  &.horizontal {
    flex-direction: column;
    left: calc(100% - 400px);
    
    @media screen and (min-width: $xlg) {
      left: calc((100vw - 1440px) / 2 + 1440px - 409px);
    }

    @media screen and (max-width: $md) {
      left: 120px;
    }

    &.projects {
      margin-top: -75px;

      @media screen and (max-width: $md) {
        margin-top: -25px;
      }
    }

    .line {
      --line-width: 400px;
      height: 5px;
      animation: loadingAnimationHorizontal 1s ease-in-out forwards;

      @media screen and (max-width: $md) {
        --line-width: calc(100vw - 120px);
      }
    }
  }
}
