@import '../../styles/theme.scss';

.card-carousel-wrapper {
  position: relative;
}

.card-carousel {
  display: grid;
  grid-auto-flow: column;
  gap: 24px;
  margin-right: -80px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-padding-left: 12px;
  scroll-behaviour: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.card-carousel-card {
  display: flex;
}

.card-carousel-button {
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 1;
  padding: 18px 22px;
  align-items: center;
  top: 120px;
  transform: translateY(-50%);
  color: $white;
  background: $deepSea;
  box-shadow:
    1px 1px 4px 0px rgba(0, 0, 0, 0.50),
    -4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-size: 80px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  @media screen and (max-width: $md) {
    display: none;
  }

  &:hover {
    cursor: pointer;
    box-shadow:
      1px 1px 6px 0px rgba(0, 0, 0, 0.75),
      -4px 4px 6px 0px rgba(0, 0, 0, 0.50);
  }
}

.card-carousel-button-left {
  @extend .card-carousel-button;
  left: 10px;

  & span {
    margin-right: 5px;
  }
}

.card-carousel-button-right {
  @extend .card-carousel-button;
  right: 10px;

  & span {
    margin-left: 5px;
  }
}
  