@import '../styles/theme.scss';

body,
html {
  font-family: Inter;
  color: $white;
  background-color: $black;
  margin: 0;
  font-size: 21px;

  @media screen and (max-width: $md) {
    font-size: 16px;
  }
}

h1 {
  font-size: 57.9px;
  font-weight: 700;
  margin: 0;

  @media screen and (max-width: $md) {
    font-size: 30px;
  }
}

h2 {
  font-size: 48px;
  margin: 0;

  @media screen and (max-width: $md) {
    font-size: 21px;
  }
}

h3 {
  font-size: 21px;
  margin: 0;
}

p {
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}

.lines {
  display: flex;
  position: absolute;
  right: 100px;
  margin-top: -40px;
  gap: 5px;

  @media screen and (min-width: $lg) {
    right: calc((100vw - 1440px) / 2 + 100px);
  }

  @media screen and (max-width: $md) {
    margin-top: -20px;
  }
}

.line {
  width: 5px;
  height: 400px;
  background-color: $electricBlue;
}
   