@import '../../styles/theme.scss';

.contact-container {
  position: relative;
  padding: 80px 80px 40px 80px;
  display: flex;
  flex-direction: column;
  background-color: $coralRed;
  z-index: 1;

  @media screen and (max-width: $md) {
    padding: 20px 20px 30px 20px;
  }

  .contact-title {
    display: flex;
    margin-bottom: 40px;
    white-space: nowrap;

    @media screen and (max-width: $md) {
      margin-bottom: 0;
    }

    .title-black {
      color: black;
    }
  }

  .contact-content {
    display: flex;
    flex-direction: row;
    gap: 10%;
    z-index: 1;

    @media screen and (max-width: $md) {
      flex-direction: column;
      gap: 40px;
    }

    .contact-links {
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media screen and (max-width: $md) {
        order: 2;
      }
  
      .contact-link {
        display: flex;
        gap: 20px;
  
        img {
          width: 24px;
          height: 24px;
        }
  
        a {
          color: white;
          font-weight: 700;

          @media screen and (max-width: $md) {
            font-size: 18px;
          }
        }
      }
    }

    .contact-description {
      font-weight: 500;
      text-align: justify;

      @media screen and (max-width: $md) {
        font-size: 16px;
        order: 1;
      }

      .description {
        max-width: 640px;

        &:nth-child(2) {
          margin: 20px 0 0 0;
        }
      }
    }
  }

  .lines-contact {
    position: absolute;
    display: flex;
    top: 0;
    right: 80px;
    height: 100%;
    gap: 10px;
    pointer-events: none;

    .line-contact {
      width: 5px;
      height: 100%;
      background-image: linear-gradient(to bottom, $coralRed, $slateGray);
      animation: loadingAnimationVertical 1s ease-out forwards;

      @media screen and (max-width: $md) {
        display: none;
      }
    }
  }
}
