@import '../../styles/theme.scss';

.experience-container {
  padding: 80px 80px 40px 80px;
  display: flex;
  flex-direction: row;
  gap: 20%;
  background-color: $electricBlue;

  @media screen and (min-width: $md) and (max-width: 1080px) {
    gap: 10%;
  }

  @media screen and (max-width: $md) {
    padding: 20px 20px 30px 20px;
    gap: 40px;
    flex-direction: column;
  }
}

.education-container {
  display: flex;
  flex-direction: column;
  z-index: 1;

  @media screen and (max-width: $md) {
    gap: 10px;
  }

  .education-content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (max-width: $md) {
      align-items: center;
      gap: 30px;
    }

    .programmes {
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      .programme {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
  
        @media screen and (max-width: $md) {
          flex-direction: column;
        }
  
        .name {
          width: 350px;

          @media screen and (min-width: $md) and (max-width: $lg) {
            width: 250px;
          }

          @media screen and (max-width: $md) {
            width: fit-content;
          }
        }
      }
    }
  }
}

.work-experience-container {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $md) {
    gap: 10px;
  }

  .work-places {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: $md) {
      align-items: center;
    }

    .work-place {
      display: flex;
      flex-direction: row;
      gap: 20px;

      .name {
        width: 100px;
      }

      .years {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.lines {
  &.experience {
    right: calc(50% - 45px);

    @media screen and (max-width: $md) {
      right: 5px;
    }

    .line {   
      background-color: $black;
    }
  }
}
