@import '../../styles/theme.scss';

.experience-container {
  position: relative;
  padding: 80px 80px 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: $darkGray;

  @media screen and (max-width: $md) {
    padding: 20px 20px 30px 20px;
  }
}

.work-and-education {
  display: flex;
  flex-direction: row;
  gap: 80px;

  @media screen and (max-width: $md) {
    gap: 40px;
    flex-direction: column;
  }

  .education-container,
  .work-experience-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.certifications {
  display: flex;
  flex-direction: column;
}

.certificate-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .certificate {
    display: flex;
    gap: 40px;

    @media screen and (max-width: $md) {
      gap: 20px;
    }

    .link {
      color: $white;
    }
  }
}

.education-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 50%;

  @media screen and (max-width: $md) {
    width: 100%;
  }

  .education-content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (max-width: $md) {
      align-items: center;
      gap: 30px;
    }

    .programmes {
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      .programme {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
  
        @media screen and (max-width: $md) {
          flex-direction: column;
          font-size: 18px;
        }
  
        .name {
          width: 350px;

          @media screen and (min-width: $md) and (max-width: calc($xlg - 100px)) {
            width: 250px;
          }

          @media screen and (max-width: $md) {
            width: fit-content;
          }
        }
      }
    }
  }
}

.work-experience-container {
  display: flex;
  flex-direction: column;

  .work-places {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: $md) {
      align-items: center;
      font-size: 18px;
    }

    .work-place {
      display: flex;
      flex-direction: row;

      @media screen and (max-width: $md) {
        width: 100%;
        justify-content: space-evenly;
        font-size: 18px;
      }

      .name {
        width: 100px;
        text-align: left;

        @media screen and (max-width: $md) {
          font-size: 18px;
        }
      }

      .years {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.divider {
  width: 100%;
  height: 5px;
  background-image: linear-gradient(to right, $black, $deepSea);
  animation: loadingAnimationHorizontal 1s ease-out forwards;

  @media screen and (max-width: $md) {
    display: none;
  }
}

.divider-vertical {
  width: 5px;
  height: 100%;
  background-image: linear-gradient(to bottom, $black, $deepSea);
  animation: loadingAnimationVertical 1s ease-out forwards;

  @media screen and (max-width: $md) {
    display: none;
  }
}
