@import '../../styles/theme.scss';

.experience-container {
  padding: 80px 80px 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  background-color: $darkGray;

  h2 {
    @media screen and (min-width: $md) {
      margin-bottom: 80px;
    }
  }

  @media screen and (max-width: $md) {
    padding: 20px 20px 30px 20px;
  }
}

.work-and-education {
  display: flex;
  flex-direction: row;
  gap: 25%;

  @media screen and (min-width: $md) and (max-width: $lg) {
    gap: 15%;
  }

  @media screen and (max-width: $md) {
    gap: 40px;
    flex-direction: column;
  }
}

.certificates {
  display: flex;
}

.certificate-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  .certificate {
    display: flex;
    gap: 40px;

    @media screen and (max-width: $md) {
      gap: 20px;
    }

    .link {
      color: $white;
    }
  }
}

.education-container {
  display: flex;
  flex-direction: column;
  z-index: 1;

  .education-content {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (max-width: $md) {
      align-items: center;
      gap: 30px;
    }

    .programmes {
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      .programme {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
  
        @media screen and (max-width: $md) {
          flex-direction: column;
          font-size: 18px;
        }
  
        .name {
          width: 350px;

          @media screen and (min-width: $md) and (max-width: calc($xlg - 100px)) {
            width: 250px;
          }

          @media screen and (max-width: $md) {
            width: fit-content;
          }
        }
      }
    }
  }
}

.work-experience-container {
  display: flex;
  flex-direction: column;

  .work-places {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: $md) {
      align-items: center;
      font-size: 18px;
    }

    .work-place {
      display: flex;
      flex-direction: row;

      @media screen and (max-width: $md) {
        width: 100%;
        justify-content: space-evenly;
        font-size: 18px;
      }

      .name {
        width: 100px;
        text-align: left;

        @media screen and (max-width: $md) {
          font-size: 18px;
        }
      }

      .years {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
